.login-title {
    text-align: center;
}

.form-login {
    text-align: center;
    margin-top: 20px;
}

.form-input {
    width: 100%;
    max-width: 240px;
    border-radius: 4px;
    border: 1px solid var(--mainColor);
    transition-duration: .2s;
    padding: 6px;
}

.sign-in-button {
    display: block;
    width: 180px;
    margin: 10px auto;
    background-color: var(--mainColor);
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 6px 0;
    cursor: pointer;
    transition-duration: .2s;
}

.sign-in-button:not(:disabled):hover {
    scale: 1.02;
}

.sign-in-button:disabled {
    filter: opacity(.8);
}

@media (min-width: 1001px) {
    .login-title {
        max-width: 40%;
    }
}